<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="theme-color" content="#576CBC" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <meta
      name="description"
      content="Your restaurant app description goes here."
    />
    <meta name="keywords" content="restaurant, food, dining, quality foods" />
    <meta name="author" content="Kevin Sanjaya" />
    <meta name="robots" content="index, follow" />

    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip__content">Skip to content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Restaurant App</h1>
        <button id="menu" class="header__menu" href="#">☰</button>
      </div>
    </header>
    <nav id="drawer" class="nav__wrap">
      <ul class="nav__list">
        <li class="nav__item"><a href="/#">Homes</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item">
          <a href="#" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1>Awesome Dish</h1>
        <p>Only Serve The Best Quality Foods</p>
      </div>
    </div>
    <main id="mainContent"></main>
    <footer>
      <p>Copyright © 2023 - Restaurant Apps</p>
    </footer>
  </body>
</html>
